@model IEnumerable<ScheduleTask>
@{
    string userLogin = Context.User.Identity.Name;
}

<h1>My Tasks</h1>

<partial name="_info" />

@if(Model is null || Model.Count() == 0)
{
    <div class="container">
        You have no owned tasks.
    </div>
}

<div class="container">
    @foreach (var scheduleTask in Model)
    {
        <div class="container my-3 mx-2 border border-dark rounded p-2"
             @Html.Raw($"onclick=\"location.href='/{ScheduleTaskController.CONTROLLER_ROUTE}/{ScheduleTaskController.GET_SCHEDULE_TASK_ROUTE}/{scheduleTask.Link}';\" style=\"cursor: pointer;\"")>
            <partial name="_taskScheduleShort" model="@scheduleTask" />
            <div class="row">
                <div class="col-4 col-sm-5 col-md-7 col-lg-8"></div>
                <div class="col m-3">
                    @Html.Raw(scheduleTask.Participants.Where(user => user.LoginAuth.Login == userLogin).Any() ? "You participate this task." : "You don't participate this task.")
                </div>
            </div>
        </div>
    }
</div>