<h1>Home page</h1>

<partial name="_info" />

<div class="container">
    <div class="m-3 justify-content-center row">
        <div class="col-sm-10 col-md-8">
            <h2 class="m-4">About the project</h2>

            <p>
                Task Scheduler is a simple calendar implementation, 
                that helps you create tasks and view them on the calendar.
            </p>

            <p>
                Task Scheduler is a non commercial project.
                The only purpose of this project is improving programming skills 
                of project author and adding this project to his portfolio. 
            </p>
        </div>
    </div>
</div>